@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Festive&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    background: #1fbecd;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Festive', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
}

.score,.start {
    background: rgba(255, 255, 255, 0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
    font-family: 'Amatic SC', cursive;
}

.start{
    padding: 10px 20px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

.game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    cursor: pointer;
}

.hole.up .mole {
    top: 0;
}