body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 161, 165);
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgb(211, 211, 211);
    width: 300px;
    height: 300px;
  }
  
  .btn {
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.9;
  }