* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: Arial;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

body::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #11112af0;
}

h1 {
    font-size: 5em;
}

input {
    width: 400px;
    height: 50px;
    border-bottom: 2px solid #fff;
    background-color: #ffffff26;
    padding: 15px;
    color: #fff;
    font-size: 1.5em;
    margin: 30px;
}

button {
    width: 400px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 0.4s;
}

button:active {
    background-color: #ffffff26;
}

#loading {
    display: none;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 5px solid #ffffff26;
    border-top: 5px solid rgb(27, 2, 2);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}